%p.alert= notice


%h1
  = @event.headline

%p
  = [@event.startDate, @event.endDate].join(" -> ") 
  
%p
  = @event.text

%p
  = @event.media  

%p
  = @event.credit  

%p
  = @event.caption  

%p
  = @event.thumbnail  

%p
  = @event.media_filename

= youtube_embed("#{@event.media_filename}")

%br

= link_to 'Modifica', edit_event_path(@event)
\|
= link_to 'Eventi', events_path
